@page
@using ApartmentNetwork.Models
@* @model Building *@

<nav class="navbar">
    <h1 class="display-4">U-nit</h1>
    <div>
        <h3 class="display-6">Hello @ViewBag.CurrentUser.FirstName @ViewBag.CurrentUser.LastName!</h3>
        <h3 class="display-6">Building Number @ViewBag.CurrentUser.BuildingId Dashboard!</h3>
    </div>
    <div id="navButtons">
        @if(ViewBag.CurrentUser.IsAdmin == true)
        {
            <a href="/pendingResidents" class="aButton btn btn-warning m-3">Pending Neighbors (@ViewBag.PendingResidents)</a>
        }
        <a href="/Logout" class="aButton btn btn-lg btn-danger m-3">Logout</a>
    </div>
</nav>


<div id="dashboardLayout">
    <div id="liveChatCol" class="infoCol">
        <h3>Live Chat</h3>
        <div class="textCol">
            <div id="messagesCol">
                <ul id="messagesList" onresize="ScrollToBottom()"></ul>
            </div>
            <div><input type="hidden" id="userInput" value="@ViewBag.CurrentUser.FirstName, @ViewBag.CurrentUser.AptNumber"/></div>
            <div><input type="hidden" id="bldgId" value="@ViewBag.CurrentUser.BuildingId"/></div>
            <input type="text" id="messageInput" placeholder="Send A Messsage" onfocus="this.value=''"/>
            <hr/>
        </div> @* End of  textCol *@
        <input type="button" id="sendButton" value="Send Message" class="addButton btn btn-lg btn-info m-3" />
    </div> @* End of LiveChatCol *@

    <div id="buildingEventsCol" class="infoCol">
        <h3>Events</h3>
        @foreach(var evnt in ViewBag.AllEvents)
        {
        <div class="textCol">
            <div class="eventTitle"><h5><b> @evnt.Title  on  @evnt.EventDate</b></h5></div>
            <div class="eventPlanner"><h6>Planner: @evnt.Creator.FirstName @evnt.Creator.LastName in @evnt.Creator.AptNumber</h6></div>
                <p class="eventDescription">@evnt.Description</p>
        </div>@* end of TextCol *@
        <hr/>
        }
        <div class="textCol">
            <div class="eventTitle"><h5><b> Birthday Party    9/17    All Day</b></h5></div>
            <div class="eventPlanner"><h6>Planner: John Goodman</h6></div>
                <p class="eventDescription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi accusamus voluptas reiciendis doloribus architecto necessitatibus quibusdam aut.</p>
        </div>@* end of TextCol *@
        <hr/>
        <div class="textCol">
            <div class="eventTitle"><h5><b> Halloween Party    10/31    9:00PM</b></h5></div>
            <div class="eventPlanner"><h6>Planner: Jack Skullington</h6></div>
                <p class="eventDescription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi accusamus voluptas reiciendis doloribus architecto necessitatibus quibusdam aut, fugiat optio distinctio quas pariatur, animi unde inventore, tempore reprehenderit fugit? Neque, adipisci?</p>
        </div>@* end of TextCol *@
        <hr/>
        <a href="/event" class="addButton btn btn-lg btn-info m-3">Add New Event</a>
    </div>

    <div id="postsCol" class="infoCol">
        <h3>Bulletins</h3>
        @foreach(var bltn in ViewBag.AllBulletins)
        {
            <div class="textCol">
            <div class="eventTitle"><h4><b> @bltn.Title </b></h4></div>
            <div class="eventTopic"><h5><b>On the topic of: @bltn.Topic </b></h5></div>
            <div class="eventPlanner"><h6>Posted by: @bltn.Creator.FirstName @bltn.Creator.LastName in @bltn.Creator.AptNumber</h6></div>
                <p class="eventDescription">@bltn.Content</p>
        </div>@* end of TextCol *@
        <hr/>
        }
        @* <div class="textCol">
            <div class="eventTitle"><h5><b> Lost Dog</b></h5></div>
            <div class="eventPlanner"><h6>Pete Borgensen, 8g</h6></div>
            <p class="eventDescription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, adipisci?</p>
        </div> *@@* end of TextCol *@
        @* <hr/>
        <div class="textCol">
            <div class="eventTitle"><h5><b>Car Lights On</b></h5></div>
            <div class="eventPlanner"><h6>Jane Harrow, 3c</h6></div>
            <p class="eventDescription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, adipisci?</p>
        </div> *@@* end of TextCol *@
        @* <hr/> *@
        <a href="/bulletin" class="addButton btn btn-lg btn-info m-3">Add New Bulletin</a>
    </div>
</div>  @* dashboardLayout *@


    <div class="container" id="AllBuildingResidentsTable">
        <table class="table text-white">
            @* <thead>
                <tr>
                    <th>Name</th>
                    <th>Apartment #</th>
                    <th>Actions</th>
                </tr>
            </thead> *@
            <tbody>
            @* For every row of the table, and using every groupevent's data that appears in those rows *@
            @* @foreach (var item in ViewBag.AllBuildingResidents) *@
            
                @* @foreach (var resident in item) *@
                
                    @* <td>@resident.FirstName @resident.LastName</td> *@
                
                <tr>
                <!-- these have to line up with the names in the SQL database -->
                    @* <td><a href="/SingleGroupEvent/@resident.GroupEventID">@resident.Title</a></td>  *@
                    
                    @* <td>@resident.Planner.FirstName @resident.Planner.LastName</td> *@
                </tr>
            
            </tbody>
        </table>
    </div>
@* I added this for Live Chat *@
<script>
    @* var someStringValue = '@(ViewBag.someStringValue)'; *@
    @* var someNumericValue = @(ViewBag.someNumericValue); *@
    @* var bldgIdFromHTML = @(ViewBag.CurrentUser.BuildingId); *@
</script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
